# Lab 1a. Arrays
Probability and Statistics, Spring 2017    
Chanh Nguyen 1504202   
Helsinki Metropolia University of Applied Sciences

Book: Johansson. (2015). [Numerical Python: A Practical Techniques Approach For Industry.](https://metropolia.finna.fi/Record/nelli15.3710000000486209)

## Chapter 2. Vectors, Matrices and Multidimensional Arrays

###### Import numerical python library and refer it as np.

In [ ]:
import numpy as np
%pylab inline

###### Create a numerical array having the values: `1, 3, 3, 4, 2, 2, 5, 6, 9'

In [ ]:
x = array([1, 3, 3, 4, 2, 2, 5, 6, 7])
x

###### Find the dimensions, shape, size, data type and number of bytes in the array.

In [ ]:
print('The dimensions is: '+str(x.ndim))
print('The shape is: '+str(x.shape))
print('The size is: '+str(x.size))
print('The data type is: '+str(x.dtype))
print('The number of bytes: '+str(x.nbytes))

###### Create an array of of shape (100,1) filled with 

a) zeros,    
b) ones,    
c) value of 3.14.

In [ ]:
a = zeros((100,))
print('a) Array of shape (100,1) filled with zeros:\n'+str(a)+'\n')
b = empty(100)
b.fill(1)
print('b) Array of shape (100,1) filled with ones:\n'+str(b)+'\n')
c = zeros((100,))
c.fill(3.14)
print('c) Array of shape (100,1) filled with value of 3.14:\n'+str(c)+'\n')

###### Create an array having numbers from 1 to 100.

In [ ]:
k = arange(0,1.05,.05)
k

###### Calculate the sine of each element in the previous exercise.

In [ ]:
sin(k)

###### Calculate the square root of each element.

In [ ]:
k**2

###### Calculate $y=3x^2 - 5x + 3$, when x varies from -5 to 5 with stepsize of 0.5

In [ ]:
x = arange(-5,5,.5)
y = 3*x**2-5*x+3
y

###### Convert the values of the previous exercise to the closest integer.

In [ ]:
around(y)

In [ ]:
l = array([1,3,3,4,2,2,5,6,9])
l

###### Calculate the mean and standard deviation of the array

In [ ]:
d = arange(1,101,1)
d

###### Create an array having number from 1.0 to 3.0 with step size of 0.1

In [ ]:
e = arange(1.,3.1,0.1)
e

###### Create an array having 10 evenly spaced value between 1.0 and 7.2.

In [ ]:
mean(l), std(l)

###### Find the minimum, the maximum, and the median values of the array.

In [ ]:
f = linspace(1.,7.2,10)
f

###### What is the value of the 5th element in the array created in previous exercise?

In [ ]:
f[4]

###### Select the elements from 5 to 7 from the array.

In [ ]:
f[5:8]

###### Select two last elements from the array.

In [ ]:
f[f.size-2:]

###### Create a 10 x 10 array filled with zeros.

In [ ]:
g = zeros((10,10))
g

###### Replace the values with values from 1 to 100 in the previous array.

In [ ]:
g = arange(1,101,1).reshape(10,10)
g

###### Clear (change the values to zero) the 3rd row in the array.

In [ ]:
g[2]=0
g

###### Clear the 7th column in the array

In [ ]:
for i in range(10): g[i][6]=0
g

###### Create and array having the values `1, 3, 3, 5, 4, 2, 7, 9`

In [ ]:
h = array([1,3,3,5,4,2,7,9])
h

###### Find all values in the array being greater than 4.

In [ ]:
min(l), max(l), median(l)

###### Find the index for the minimum value.

In [ ]:
where(l == min(l))

###### Find the index for the maximum value.

In [ ]:
where(l == max(l))

##### Sum all elements together.

In [ ]:
sum(l)

###### Check if all elements are less than 9.

In [ ]:
h[h>4]

###### Change all the value being less or equal to 3 to value `nan`

In [ ]:
h = where(h<=3, nan, h)
h

###### Create two arrays, the first having values `1, 3, 5` and the second `2, 4, 6`

In [ ]:
i = array([1,3,5])
j = array([2,4,6])
i,j

###### Combine the arrays horizontally (e.g. make a one long row).

In [ ]:
where(l >= 9)

###### Check if any of the elements is equal to 5

In [ ]:
where(l == 5)

###### Sort the values in array in descending order (from maximum to minimum).

In [ ]:
sort(l)[::-1]

Multiply the following matrices using the matrix multiplication (dot-product).   
$ A= \begin{bmatrix}
1 & 2 \\
5 & 3\\
\end{bmatrix}$ and 
$x = \begin{bmatrix}
-2 \\ 
3\\ 
\end{bmatrix}$

In [ ]:
A = array([[1,3],[5,3]])
x = array([-2,3])
np.dot([2j, 3j], [2j, 3j])

###### Import from `numpy.linalg` module the functions `inv` and `solve`

In [ ]:
from numpy.linalg import inv, solve

Find the inverse of matrix A.

In [ ]:
inv(A)

Using `solve` function solve the system of equations 
$\begin{bmatrix}1 & 2 \\ 5 & 3\end{bmatrix}
\begin{bmatrix} x_1 \\ x_2 \end{bmatrix} = \begin{bmatrix} 9 \\ 31 \end{bmatrix}$

In [ ]:
b = array([9, 31])
solve(A, b)

Solve the $Ax=b$, where $A = \begin{bmatrix} 4 & 8 & 20 \\ 8 & 13 & 16 \\ 20 & 16 & -91\end{bmatrix}$ and $b = \begin{bmatrix}24 \\ 18 \\ -199 \end{bmatrix}$.

In [ ]:
append(i,j)

###### Combine the arrays vertically (e.g. make an array having two rows).

In [ ]:
vstack((i,j))

###### Combine the arrays and sort them in ascending order.

In [ ]:
sort(append(i,j))

###### Create an array having numbers from 0.0 to 1.0 with stepsize 0.05.