A dictionary of column names & data types, and number or rows
Function produces a "nice database"

Example:
    Input:
        {"first_name": char(18), age: int}, number of rows = 3
    
    Output:
        ____|_first_name_|_age_|
        | 1 |            |     |