In [ ]:
import pandas as pd
pols = pd.read_csv("pollutants.csv", dtype = object)

In [ ]:
cols = ['fiscal_year', 'result']
pols[cols] = pols[cols].apply(pd.to_numeric, errors = 'coerce')

**Exercise 1**: Select the `general_location` column from `pols`.

In [ ]:
pols['general_location']

In [ ]:
pols[pols.columns[3]]

In [ ]:
pols.general_location

**Exercise 2**: what is the general location for the 94th entry  of `pols`.

In [ ]:
pols.general_location[93]

In [ ]:
pols.iloc[93, 3]

In [ ]:
pols.loc[93, 'general_location']

**Exercise 3**: Select the first row of data (the first record) from `pols`. Hint: use `loc` or `iloc`.

In [ ]:
pols.iloc[[1,9,19,91],[3,10,14,21]]

***Exercise 7***: Select the general_location and specific_location columns of records 1 - 1000

In [ ]:
pols.iloc[1:1001, [3, 17]]

**Exercise 8**: Select tests done in the `Beaufort Sea`. Hint: `pols.general_location` equals what?

In [ ]:
pols.loc[pols['general_location'] == 'Beaufort Sea']

**Exercise 9**: Select tests whose `parameter` is not `NaN`.

In [ ]:
pols.dropna(subset = ['parameter'])

**Exercise 10**: Select the `parameter` column.

In [ ]:
pols.parameter

**Exercise 11**:  Select the `parameter` column for the first 1000 tests.

In [ ]:
pols.loc[0:999, 'parameter']

**Exercise 12**:  Select the `parameter` column for the last 1000 tests.

In [ ]:
top5 = MR.groupby(['parameter', 'units']).head(5)
top5

**Exercise 20** How do we know that the units are aligned?  Find the different units that are used for the Mississippi River tests:

In [ ]:
MR.units.unique()

Oh, it looks like there might be some differences.  I'm going to go through one way to match up the units so we can be sure we are looking at the most concentrated pollutants in the dataset. **I did this last night at almost midnight and I feel like it is kind of klunky but this is my solution** First I am going to duplicate the result column in a new column called 'adj':

In [ ]:
MR = MR.assign(adj = MR['result'])
MR

We have micrograms, nanograms, and picograms per gram so I am going to adjust accordingly now:

In [ ]:
MR.loc[MR['units'] == 'micrograms per dry gram', 'adj'] =  1000000
MR.loc[MR['units'].str.contains("ng"), 'adj'] =  1000
MR.loc[MR['units'].str.contains("cent"), 'adj'] = 1
MR.loc[MR['units'] == 'CFU/g', 'adj'] =  1
MR.loc[MR['units'] == 'Number', 'adj'] = 1
MR.loc[MR['units'] == 'G', 'adj'] = 1
MR.loc[MR['units'] == 'pg/g', 'adj'] = 1

**Exercise 21**: Did the adjustment catch all of the different types of units?

In [ ]:
MR.adj.unique()

Now I will compensate for the unit adjustment like this:

In [ ]:
MR['result'] = MR.result*MR.adj
MR

**Exercise 22** What pollutants have the highest mean result value? `(Hint: Look at the discussion of groupby in the slides)`

In [ ]:
pols.iloc[-1000:, 10]

## Now, let's start to ask some more meaningful questions about our data

**Exercise 13**: What are the different pollutants present in the dataset? List each pollutant only once. Hint: `parameter` corresponds to pollutant?

In [ ]:
pols.parameter.unique()

**Exercise 14**: How many pollutants are there?

In [ ]:
len(pols.parameter.unique())

**Exercise 15**: What pollutants are in the Mississippi River? Hint: Select the `parameter` column, but only for tests in the Mississippi River.

In [ ]:
pols[pols.general_location == "Mississippi River"].parameter

**Exercise 16**: How many different pollutants are in the Mississippi River? Hint: how long is the array of unique pollutants?

In [ ]:
len(pols[pols.general_location == 'Mississippi River'].parameter.unique())

**Exercise 17**: What is the oldest test on record for the Mississippi River? Hint: What is the minimum value of `fiscal_year` for tests in the Mississippi River?

In [ ]:
pols[pols.general_location == 'Mississippi River'].fiscal_year.min()

**Exercise 18**: What is the most recent test on record for the Mississippi River? Hint: What is the maximum value of `fiscal_year` for tests in the Mississippi River?

In [ ]:
pols.loc[0,:]

In [ ]:
pols.iloc[0,]

**Exercise 4**: Select the first 100 values from the `parameter` column in `pols` `Series`.

In [ ]:
pols.parameter[0:100]

In [ ]:
pols.iloc[0:100, 10]

In [ ]:
pols['parameter'][0:100]

In [ ]:
pols.loc[0:99, 'parameter']

**Exercise 5**: Select the records with the `1`, `2`, `3`, `5`, and `8` row index positions. In other words, generate the following `DataFrame`:

![DataFrame](pols_pic1.png)

In [ ]:
pols.iloc[[1,2,3,5,8], :]

**Exercise 6**: Select the `general_location`, `parameter`, `result`, and `units` columns of the records with the `1`, `9`, `19`, and `91` index positions. In other words, generate the following `DataFrame`:

![DataFrame](pols_pic2.png)

In [ ]:
pols[pols.general_location == 'Mississippi River'].fiscal_year.max()

**Exercise 19**: Lets explore the Mississippi River data in more detail. What are the most concentrated pollutants at each specific location? `Hint: first, create a dataframe corresponding to only Mississippi River data with result values greater than zero, then sort by the highest result. Then, group by 'parameter' and 'units'`

In [ ]:
MR = pols[(pols.general_location == "Mississippi River") & (pols.result > 0)]
MR.sort_values('result', ascending = False)

In [ ]:
MR.groupby('parameter')[['result']].mean()

**Exercise 23** Let's see which pollutants changed the most in the MIssissippi river over the course of the study `(hint: create a dataframe from a pivot table, then find the difference between the highest and lowest values)`