# Third cleaning pass

* Parse date of reported salary

In [ ]:
%load_ext autoreload

%autoreload 2

In [ ]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999


import time
import unicodedata

import datetime
from datetime import timedelta, datetime

import csv
import os

import sys
sys.path.append('./lib/')
from functions import *

from tqdm import tnrange, tqdm_notebook
from unidecode import unidecode

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import glob

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
sns.set_style("darkgrid")

import locale
locale.setlocale(locale.LC_ALL, 'es_ES')

# Import data

In [ ]:
period = '20180210-3'

In [ ]:
df = pd.read_csv('../data/output/02_scraped_data_clean_second_{}.csv'.format(period), encoding='utf-8',low_memory=False
                 , sep='|', quoting=1)

In [ ]:
df.shape

# Clean dates

In [ ]:
pd_preprocess(df)

### Fixing -allyear

In [ ]:
pd_runfix(pd_allyear, df, 'datets', 'yearmonth')

### Year - Month

In [ ]:
pd_runfix(pd_yearmonth, df, 'datets', 'yearmonth')

### month-allyear

In [ ]:
pd_runfix(pd_monthallyear, df, 'datets', 'yearmonth')

### Drop aux columns

In [ ]:
cols = [x for x in df.columns if 'aux' in x]
cols

In [ ]:
for c in cols:
    del df[c]

### what's left

In [ ]:
df.loc[pd.isnull(df['datets']), 'yearmonth'].value_counts().sum()

In [ ]:
df.loc[pd.isnull(df['datets']), 'yearmonth'].value_counts()

## Few examples of missing

In [ ]:
df.loc[pd.isnull(df['datets']) &
       (df['yearmonth'] == 'allyear-diciembre')]

# High-level date patterns

In [ ]:
df.groupby(pd.Grouper(freq='M', key='datets'))['entity'].count().plot()

# Print out file

In [ ]:
df.to_csv('../data/output/03_scraped_data_clean_third_{}.csv'.format(period), encoding='utf-8', sep='|',
           quoting=csv.QUOTE_ALL, index=False)

# Cleanup stats