# Tutorial: Pandas for software engineering research

- **Auhtor**: Felipe Ortega.
- **Date**: June 7, 2017.
- **Venue**: SATToSE 2017 Workshop.
- **Location**: URJC. Madrid.
- **Part**: 2 of 2.

## 6. Basic descriptive analysis

Let's obtain some basic descriptive analytics from the data describing Scratch projects.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Display graphs in the notebook
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (10, 6)

# To use the 'ggplot' style for graphs uncomment the following line
# matplotlib.style.use('ggplot')

### 6.1 Average grades

In [ ]:
import pymysql.cursors

# Get new connection with local MySQL DB
connection = pymysql.connect(host='localhost',
                             user='jfelipe',
                             password='phoenix',
                             db='Scratch_data',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read some data
        sql = """SELECT * FROM grades"""
        cursor.execute(sql)
        grades = cursor.fetchall()
finally:
    connection.close()

In [ ]:
col_names = [x[0] for x in cursor.description]
grades_df = pd.DataFrame(grades, columns = col_names)

In [ ]:
grades_df.info()

In [ ]:
grades_df.columns

In [ ]:
grades_df.iloc[:, 1:].mean()

### 6.2 Statistics per project

In [ ]:
import pymysql.cursors

# Get new connection with local MySQL DB
connection = pymysql.connect(host='localhost',
                             user='jfelipe',
                             password='phoenix',
                             db='Scratch_data',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read some data
        sql = """SELECT * FROM project"""
        cursor.execute(sql)
        projects = cursor.fetchall()
finally:
    connection.close()

In [ ]:
col_names = [x[0] for x in cursor.description]
projects_df = pd.DataFrame(projects, columns = col_names)
projects_df.rename(columns={"project-name": "project_name", "total-views":"total_views",
                            "total-remixes": "total_remixes", "total-favorites": "total_favorites",
                            "total-loves": "total_loves", "is-remix": "is_remix"}, inplace=True)

In [ ]:
projects_df.columns

#### Histogram of total_views