# Homework 1: Data Cleaning and Exploratory Data Analysis 
***

**Name**: Jacob Munoz

**Section**: 001
***

This assignment is due on Moodle by **5pm on Friday September 15th**. Your solutions to theoretical questions should be done in Markdown directly below the associated question.  Your solutions to computational questions should include any specified Python code and results as well as written commentary on your conclusions.  Remember that you are encouraged to discuss the problems with your classmates, but **you must write all code and solutions on your own**.   

**NOTES**: 

- Unless a url is given for a data set, you will find the required data in the same directory as this assignment on GitHub.
- If you're not familiar with typesetting math directly into Markdown then by all means, do your work on paper first and then typeset it later.  Remember that there is a [reference guide](https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference) linked on Piazza on writing math in Markdown. 
- It is **bad form** to make your reader interpret numerical output from your code.  If a question asks you to compute some value from the data you should show your code output **AND** write a summary of the results in Markdown directly below your code.

You would need to replace 3 elements so that infinity becomes the majority of the data set, having (x, x, infinity, infinty, infinty) would result in infinity being the median of the data set.

**Part C**: Suppose we have another data set of size $n$. How many elements do we need to replace by some real number $y$, so that the sample mean of the new dataset goes to infinity as $y \rightarrow \infty$? And how many elements do we need to replace, so that the sample median of the new dataset goes to infinity?

For the sample mean to go to infinity, you only need one element(y) to go to infinity because it alone will pull the mean up with it. For the sample median to go to infinity you need (n/2)+1 elements to be y, that way the majority of the elements will go to infinity, similar to question 2B.

### Problem 3 
***

Let $x_1, x_2, \ldots, x_n$ be $n$ observations of a variable of interest.  Recall that the sample mean $\bar{x}_n$ and sample variance $s^2_n$ are given by 

$$
\bar{x}_n = \frac{1}{n}\sum_{k=1}^n x_k \quad \textrm{and} \quad s^2_n = \frac{1}{n-1}\sum_{k=1}^n \left( x_k - \bar{x}_n\right)^2
$$

where here the subscript $n$'s indicate the number of observations in the sample. Notice that a natural computation of the variance requires two passes over the data: one to compute the mean, and a second to subtract the mean from each observation and compute the sum of squares. It is often useful to be able to compute the variance in a single pass, inspecting each value $x_k$ only once; for example, when the data are being collected without enough storage to keep all the values, or when costs of memory access dominate those of computation. In this problem you will explore two methods for such an _online_ computation of the mean and variance.  

**Part A**: Show algebraically that the following relation holds between the mean of the first $n-1$ observations and the mean of all $n$ observations: 

$$
\bar{x}_n = \bar{x}_{n-1} + \frac{x_n - \bar{x}_{n-1}}{n}
$$


$$ \bar x_n = \frac{x_1 + x_2 + x_3 + ... + x_n}{n} $$
$$ $$
$$ = \frac{(x_1 + x_2 + x_3 + ... + x_{n-1})+x_n}{n} $$
$$ $$
$$ = \frac{(n-1)\bar x_{n-1} + x_n}{n} $$
$$ $$
$$ = \frac{n\bar x_{n-1}-\bar x_{n-1}+x_n}{n} $$ 
$$ $$
$$ = \bar x_{n-1} + \frac{x_n-\bar x_{n-1}}{n} $$

**Part B (Extra Credit)**: Show algebraically that the following relation holds between the variance of the first $n-1$  observations and the variance of all $n$ observations: 

$$
s^2_n = \frac{(n-2)}{(n-1)}s^2_{n-1} + \frac{(x_n - \bar{x}_{n-1})^2}{n}
$$

Meh

**Part C**: It turns out that in some scenarios the variance calculation in **Part B** can suffer from numerical instability (that is, due to round-off errors and finite precision arithmetic, the algorithm can return garbage).  A better method is to update the sum of squares term incrementally and then divide by $n-1$ at the end.  Define the sum of squares with $n$ observations as $
M_n = \sum_{k=1}^n (x_k - \bar{x}_n)^2$. We can then compute the sample variance as $s_n^2 = M_n/(n-1)$.

Show algebraically that the following relation holds between the sum of squares with $n-1$ observations and the sum of squares with all $n$ observations: 

$$
M_n = M_{n-1} + (x_n - \bar{x}_{n-1})(x_n - \bar{x}_n)
$$

$$ M_n=\sum_{i=1}^n (x_i- \bar x_n)^2 $$
$$ $$
$$ =\sum_{i=1}^{n-1} (x_i - \bar x_n)^2+(x_n -\bar x_n)^2  $$
$$ $$
$$ =\sum_{i=1}^{n-1} \left(x_i-\bar x_n-\frac{x_n-\bar x_{n-1}}{n}\right)^2+(x_n-\bar x_n)^2 $$
$$ $$
$$ =\sum_{i=1}^{n-1}\left((x_i-\bar x_{n-1})^2+\left( \frac{x_n-\bar x_{n-1}}{n}\right)^2-2(x_i-\bar x_{n-1})\left( \frac{x_n-\bar x_{n-1}}{n}\right)\right)+(x_n-\bar x_n)^2 $$
$$ $$
$$ =\sum_{i=1}^{n-1}\left((x_i-\bar x_{n-1})^2\right)+\sum_{i=1}^{n-1}\left(\left(\frac{x_n-\bar x_{n-1}}{n}\right)^2\right)-2\left(\frac{x_n-\bar x_{n-1}}{n}\right)\sum_{i=1}^{n-1}((x_i-\bar x_{n-1}))+(x_n-\bar x_n)^2 $$
$$ $$
$$ = M_{n-1}+(n-1)\left(\frac{x_n-\bar x_{n-1}}{n}\right)^2-2\left(\frac{x_n-\bar x_{n-1}}{n}\right)*0+\left(x_n-\frac{(n-1)\bar x_{n-1}+x_n}{n}\right)^2 $$
$$ $$
$$ = M_{n-1}+\left(\frac{n-1}{n^2}\right)(x_n-\bar x_{n-1})^2+\left(\frac{n-1}{n}\right)^2(x_n-\bar x_{n-1})^2 $$
$$ $$
$$ = M_{n-1}+\frac{n-1}{n}(x_n-\bar x_{n-1})^2 $$
$$ $$
$$ M_n = M_{n-1}+(x_n-\bar x_{n-1})(x_n-\bar x_n)$$

For parts A/C I collaborated with Kelsey Adams and Andrew Fay

**Informative But Not Required**: Write a Python function that implements the online variance computation in **Part C** and  requires only one pass over the data.

### Problem 4
*** 
Some claim that the final hours aboard the RMS Titanic were marked by class warfare; others claim it was characterized by male chivalry.  We have the data on survival rates by class and by sex, so let's figure out whether there is evidence for these scenarios. Access the titanic data in titanic_data.csv and store it in a Pandas DataFrame. The data contains information pertaining to class status (**Pclass**), survival of passengers (**Survived**), and gender (**Sex**), among others.

In [ ]:
#Reads in the dirty data
in_file = 'titanic_data.csv'
titanic_data = pd.read_csv(in_file)

**Part A**: Explain in words what patterns you might see in the data if there were male chivalry in the final hours aboard the Titanic?  What patterns might you see if there were class warfare in the final hours?

If there was male chivalry I would expect to see the number of male survivors to be much less than that of women survivors. If there were a class warfare I would expect to see the opposite, a much larger number of male survivors.

**Part B**: Create a clean data set by removing any rows from the DataFrame that are missing values corresponding to **Survived**, **Pclass**, **Age**, or **Sex**. Store the clean data in a DataFrame called dfTitanic.

In [ ]:
#Removes entries with missing data in these columns
dfTitanic = titanic_data.dropna(subset=["Survived", "Pclass", "Age", "Sex"]).copy()

This simply removes any lines from titanic_data that are missing values in any of the columns(Survived, Pclass, Age, Sex) and displays the new amounnt of data.

**Part C**: Determine the fraction of survivors from each passenger class.

In [ ]:
dfClass = dfTitanic['Pclass'].value_counts().reset_index()
dfClass.columns = ['class', 'count']
dfClass["percentage"] = (dfClass["count"] / len(dfTitanic))
display(dfClass)

First I made a new dataframe with only the classes and their counts. This allows me to easily use the data to divide the total counts and get the percentages of survivors from each class.

**Part D**: Compute the fraction of survivors according to class and gender.  Did men in first class or women in third class have a higher survival rate?

In [ ]:
#Sums up all the male and female survivors from each class
male_1_survived = dfTitanic.loc[(dfTitanic["Sex"] == 'male') & (dfTitanic["Pclass"] == 1), "Survived"].sum()
female_1_survived = dfTitanic.loc[(dfTitanic["Sex"]=='female') & (dfTitanic["Pclass"] == 1), "Survived"].sum()
male_2_survived = dfTitanic.loc[(dfTitanic["Sex"] == 'male') & (dfTitanic["Pclass"] == 2), "Survived"].sum()
female_2_survived = dfTitanic.loc[(dfTitanic["Sex"]=='female') & (dfTitanic["Pclass"] == 2), "Survived"].sum()
male_3_survived = dfTitanic.loc[(dfTitanic["Sex"] == 'male') & (dfTitanic["Pclass"] == 3), "Survived"].sum()
female_3_survived = dfTitanic.loc[(dfTitanic["Sex"]=='female') & (dfTitanic["Pclass"] == 3), "Survived"].sum()

#Sums up the total number of men and women in each class to compare to number of survivors
total_men_1 = len(dfTitanic.loc[(dfTitanic["Sex"] == 'male') & (dfTitanic["Pclass"] == 1)])
total_men_2 = len(dfTitanic.loc[(dfTitanic["Sex"] == 'male') & (dfTitanic["Pclass"] == 2)])
total_men_3 = len(dfTitanic.loc[(dfTitanic["Sex"] == 'male') & (dfTitanic["Pclass"] == 3)])
total_women_1 = len(dfTitanic.loc[(dfTitanic["Sex"] == 'female') & (dfTitanic["Pclass"] == 1)])
total_women_2 = len(dfTitanic.loc[(dfTitanic["Sex"] == 'female') & (dfTitanic["Pclass"] == 2)])
total_women_3 = len(dfTitanic.loc[(dfTitanic["Sex"] == 'female') & (dfTitanic["Pclass"] == 3)])


print("{}/{} men survived from class 1".format(male_1_survived, total_men_1))
print("{}/{} men survived from class 2".format(male_2_survived, total_men_2))
print("{}/{} men survived from class 3".format(male_2_survived, total_men_3))
print("{}/{} women survived from class 1".format(female_1_survived, total_women_1))
print("{}/{} women survived from class 2".format(female_2_survived, total_women_2))
print("{}/{} women survived from class 3".format(female_3_survived, total_women_3))

Women in third class had a higher survival rate but just barely.

**Part E**: How would you characterize the distribution of **AGE**? (By _characterize_ we mean that you should indicate whether the data are unimodal, bimodal, multimodal, symmetric, negatively skewed, positively skewed, etc.)  Make any necessary graphical summaries to justify your conclusion.

In [ ]:
#Sets up the graph
my_bins = range(0, 80, 5)
fig, ax = plt.subplots(figsize=(10,5))

#Uses the age data from the data frame
dfTitanic.loc[dfTitanic["Age"]].hist(column = "Age", ax = ax, bins = my_bins, facecolor = "steelblue", edgecolor = "white")

#Title
ax.set_title("Age Distribution", fontsize = 20)
ax.set_xlabel("Age", fontsize = 16)
ax.set_ylabel("Frequency", fontsize = 16)

#Makes things more clear
ax.grid(alpha = 0.25)
ax.set_axisbelow(True)

I would say that the age distribution is bimodal because there seems to be a clear split right around 20-25 where most of the data lies to the left and right.

**Part F**: Were the median and mean ages for females who survived higher or lower than for females who did not survive?

In [ ]:
#Sums up total females survived, then calculates mean and median using total women survived
females_survived = dfTitanic.loc[(dfTitanic["Sex"]=='female') & (dfTitanic["Survived"] == 1)]
mean_age_survived = females_survived["Age"].sum() / len(females_survived)
median_age_survived = females_survived["Age"].median()

#Same as above but for not survived
females_not_survived = dfTitanic.loc[(dfTitanic["Sex"]=='female') & (dfTitanic["Survived"] == 0)]
mean_age_not_survived = females_not_survived["Age"].sum() / len(females_not_survived)
median_age_not_survived = females_not_survived["Age"].median()

print("{}: mean age survived".format(mean_age_survived))
print("{}: mean age not survived".format(mean_age_not_survived))
print("{}: median age survived".format(median_age_survived))
print("{}: median age not survived".format(median_age_not_survived))

The mean and median age of women were both higher for women who survived.

**Part G**: Do the data suggest class warfare, male chivalry, or some combination of both characteristics in the final hours aboard the Titanic?  Justify your conclusion based on the computations done above, or do any other analysis that you like, but be sure to clearly justify your conclusion.

The data suggests that there was undoubtly male chivalry. In every single passenger class the women had a higher survival rate than men and by quite a bit. For example in class 1 40/101 men survived while 82/85 women survived which is a staggering difference in percentages. In my opinion there really is no way that there was class warfare.

### Problem 5
***
Access the data from url https://www.stat.berkeley.edu/~statlabs/data/babies.data and store the information in a Pandas DataFrame.  A description of the variables can be found at https://www.stat.berkeley.edu/~statlabs/labs.html.  These data are a subset from a much larger study dealing with child health and development.

In [ ]:
#Reads in dirty data from website
web_path = 'https://www.stat.berkeley.edu/~statlabs/data/babies.data'
file_path = web_path 

df = pd.read_csv(file_path, delim_whitespace=True)
df.info()


**Part A**: Create a clean data set that removes subjects if any observations on the subject are unknown.  Note that that collectors of the data set used values like $9$, $99$, $999$, to denote unknown values.  You can look at the documentation linked in the problem description to determine which unknown-value marker was used for each characteristic.  Store the modified data set in a Pandas DataFrame called dfBabies.