# Importing pandas and Data

In [ ]:
import pandas as pd
pd.__version__

### Group By

In [ ]:
oo = pd.read_csv('olympics.csv')

In [ ]:
oo = pd.read_csv('olympics.csv',skiprows=4) #shift+tab dile suggestion ase
oo.head(7)

In [ ]:
oo.NOC.value_counts().head(10)

In [ ]:
oo.groupby('NOC')

In [ ]:
list(oo.groupby('NOC'))

##### Using groupby(), show the total number of medals awarded at each of the Olympic games throughout history.

In [ ]:
oo.groupby('Edition').size() #kon year e koyta kore podok

#### Iterating through groups

In [ ]:
for key, value in oo.groupby('NOC'):
    print(key)
    print(value)

#### Groupby computations

In [ ]:
oo.groupby('NOC').size() #kon des total koyt apaise medal

### Aggregated Function

In [ ]:
oo[['Edition','NOC','Medal']].groupby(['Edition','NOC']).agg(['count'])

#### Task : Create a list showing the total number of medals won for each country over the history of the Olympics. For each country, include the year of the first and most recent Olympic medal wins.

In [ ]:
#oo[['Edition','NOC','Medal']].groupby(['Edition','NOC']).size() #sal onujai kon des koyta paise
#oo[['Edition','NOC','Medal']].groupby(['Edition','NOC']).agg(['count'])
oo.groupby('NOC').agg(['count'])

In [ ]:
oo.groupby('NOC').agg({'Edition':['count','min','max']})

### Practise

### Load Wine Review data

In [ ]:
pp = pd.read_csv('winemag-data-130k-v2.csv',index_col=0) #0 no col ke index korlam
pp.head(7)

In [ ]:
pp.shape #row and column dekhabe

#### Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
pp.groupby('taster_twitter_handle').size().sort_values(ascending=False)

In [ ]:
pp.groupby('taster_twitter_handle').taster_twitter_handle.count().sort_values(ascending=False)

In [ ]:
pp.groupby('taster_twitter_handle').agg({'taster_twitter_handle':['count']})

#### What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the valeus by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom)

In [ ]:
#pp.sort_values(['price','points'])
pp.groupby('price').max()

In [ ]:
pp.groupby('price').points.max()

In [ ]:
pp.groupby('price').points.max().sort_index(ascending=False) #price onujayi sort hope highest rating gula dekhabe

#### Are there significant differences in the average scores assigned by the various reviewers? Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [ ]:
pp.groupby('taster_name').points.mean()

In [ ]:
pp.groupby('taster_name').points.mean().sort_index(ascending=False) # name decending

In [ ]:
pp.groupby('taster_name').points.mean().sort_values() #rating wise ascending sort

#### What are the rarest, most expensive wine varieties? Create a `DataFrame` whose index is wine varieties and whose values are columns with the `min` and the `max` price of wines of this variety. Sort in descending order based on `min` first, `max` second.