# Project 1: Deaths by tuberculosis 

## North Africa (2016)

### (Mohamed Adjal)

In [ ]:
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [ ]:
from pandas import *
data = read_excel('TB_North_Africa_2016.xls')
data

In [ ]:
tbCol = data['TB deaths']

The total number of deaths in 2016 is:

In [ ]:
tbCol.sum()

The largest and smallest number of deaths in a single country are:

In [ ]:
tbCol.max()

In [ ]:
tbCol.min()

The average number of deaths, over all countries in the data.

In [ ]:
tbCol.mean()

In [ ]:
tbCol.median()

The mean is almost double than the median. This indicates that some of the countries had a very high number of TB deaths in 2016.

# The most affected